node_modules
*.sh
*.7z
*.zip
*.iml
*.py
.idea/
dist/*
!dist/climate_by_location.climate_by_forest.bundle.js
!dist/climate_by_location.climate_explorer.bundle.js
!dist/climate_by_location.complete.bundle.js
